# global things

*~
.#*
*.bak

*.native
*.byte

a.out

_build/
_sbuild/

# HOL4

.HOLMK
.hollogs
*Theory.dat
*Theory.sig
*Theory.sml
*Theory.ui
*Theory.uo
lib/hol/sail-heap

# Coq

*.vo
*.glob
.*.aux

z3_problems

# location specific things

/cheri/cheri
/cheri/cheri.c
/cheri/cheri_c
/cheri/cheri128
/cheri/cheri128.c
/cheri/cheri128_c
/cheri/cheri.v
/cheri/cheri_types.v

/mips/mips
/mips/mips.c
/mips/mips_c
/mips/mips.v
/mips/mips_types.v
